/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-size: 16px;
	line-height: 1.7;
	color: #474747;
}
a:hover { text-decoration: none }


.service-box-bg-1 {background-image:url(../img/service1.jpg)}
.service-box-bg-2 {background-image:url(../img/service2.jpg)}
.service-box-bg-3 {background-image:url(../img/service3.jpg)}


.section-padding {
  padding: 80px 0;
}
.section-title {
	text-align: center;
	width: 50%;
	margin: 0 auto 50px;
}
.section-title h2 {
	font-size: 40px;
	color: #353535;
}
.single-service-box {
	border: 2px solid #EBEBEB;
}
.service-box-bg {
  height: 200px;
  background-size: cover;
  position: relative;
}
.service-box-bg h3 {
	position: absolute;
	background: #F97230;
	text-align: center;
	left: 8%;
	width: 84%;
	text-transform: capitalize;
	bottom: -27px;
	margin: 0;
	padding: 15px 0;
	color: #fff;
}
.service-content {
	text-align: center;
	padding: 50px 25px 20px;
}
.service-content a {
  color: #474747;
  font-weight: 700;
  display: inline-block;
  padding: 20px;
  transition:.4s;
}
.service-content a:hover {
  color: #F97230;
}









