/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700');
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
a:hover { text-decoration: none }


.header-top-area {
  background: #218AE6;
  padding: 10px 0;
}
.header-top-area, .header-top-area a {
  color: #fff;
}
.header-top-area i.fa {
  padding-left: 20px;
}
.header-area h3 {
	margin:0;
}
.header-area h3 a {
  color: #333;
  display: inline-block;
  padding: 25px 0;
  -webkit-transition: .3s;
  transition:.3s;
}
.header-area h3 a:hover {
  color: #218AE6;
}
.header-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-area ul li {
  display: inline-block;
}
.header-area ul li a {
  color: #000;
  padding: 28px;
  padding-right: 0;
  display: block;
  text-transform:uppercase;
  -webkit-transition: .3s;
  transition:.3s;
}
.header-area ul li:hover a {
  color: #218AE6;
}

.homepage-slides {
	background: #218AE6;
	color: #fff;
	font-size:17px;
}
.single-homepage-slide {
	padding: 100px 0;
}
.homepage-slides h3 {
	font-size: 40px;
	font-weight:100;
}
.slide-btn {
	background: #FFBE2C;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	padding: 10px 25px;
	margin-top: 10px;
	border-radius: 2px;
	color: #333;
  -webkit-transition: .3s;
  transition:.3s;
}
.slide-btn:hover {
	color: #218AE6;
	font-weight:400;
}
.slide-btn i {
	margin-left: 10px;
}
.homepage-slides .owl-dots {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
}
.homepage-slides .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
}
.homepage-slides .owl-dots .owl-dot.active {
  background: #FFBE2C;

}













