/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700,900');
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }



.team-member-bg {
	background-image:url(../img/team1.jpg)
}
.team-member-bg-2 {
	background-image:url(../img/team2.jpg)
}
.team-member-bg-3 {
	background-image:url(../img/team3.jpg)
}
.section-padding {
  padding: 80px 0;
}
.section-title h2 {
	text-transform: uppercase;
	color: #000;
	position: relative;
	transform: rotate(-90deg);
	text-align: right;
	top: 105px;
	font-size: 30px;
	width: 250px;
	right: 20px;
}
.section-title h2:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background: #9E9E9E;
  right: 0px;
  top: -40px;
}
.team-member-bg {
  height: 250px;
  background-size: cover;
  background-position: top center;
  background-color: #ddd;
  margin-bottom: 50px;
}
.borderd-content {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid;
  padding-bottom:25px;
}
.borderd-content h3 {
  font-size:18px;
  color: #3A3A3A;
  letter-spacing: 4px;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  margin-bottom:0;
}
.team-title {
	margin-top: -15px;
}
.borderd-content span {
  display: block;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 5px;
  font-size:16px;
}
.col-md-4:nth-child(2) .single-team-member {
	margin-top: 118px;
}








