/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.blog-bg {
	height: 279px;
	background-position: center;
	background-size: cover;
}
.blog-bg-1 {background-image: url(../img/blog-bg-1.jpg);}
.blog-bg-2 {background-image: url(../img/blog-bg-2.jpg);}
.blog-bg-3 {background-image: url(../img/blog-bg-3.jpg);}
.blog-bg-4 {background-image: url(../img/blog-bg-4.jpg);}
.blog-bg-5 {background-image: url(../img/blog-bg-5.jpg);}
.blog-bg-6 {background-image: url(../img/blog-bg-6.jpg);}


















